# ==========================================
# Configuración del Servidor NestJS
# ==========================================
PORT=3000

# ==========================================
# Conexión a la Base de Datos (PostgreSQL)
# ==========================================
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=usuario
DB_PASSWORD=contraseña
DB_DATABASE=base_de_datos

# ==========================================
# Seguridad y Autenticación
# ==========================================
JWT_SECRET=frase_secreta
JWT_EXPIRATION=1d