.sidebar {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #2C1A0E;
}

.subtitle {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: 0.7rem;
    color: #93735C;
}

.title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 1.8rem;
    color: #FAF5EB;
}

.titleDivider {
    border-bottom: 1px solid #7A5C3E;
}

.aboutButton {
  margin-top: auto;

  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 16px;

  height: 52px;

  border: none;
  border-radius: 18px;

  background-color: #4a592a;
  color: #faf5eb;

  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.2s ease;
}


.aboutButton:hover {
  filter: brightness(1.08);
}

.aboutButtonIcon {
    margin-right: 5px !important;
}

@media (min-width: 992px) and (max-width:1231px) {
    .aboutButtonText {
        width: 80px !important;
        font-size: 0.8rem;
    }
}

.categoryItem {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #93735c;

  padding: 14px 20px;
  margin: 6px 10px;

  border-radius: 20px;

  cursor: pointer;
  transition: all 0.2s ease;
}

@media (min-width: 1006px) and (max-width:1166px) {
    .categoryItem {
        font-size: 0.8rem;
    }
}
@media (min-width: 992px) and (max-width:1006px) {
    .categoryItem {
        font-size: 0.8rem;
        padding: 14px 17px;
    }
}

.categoryItem:hover {
  background-color: #3a1f10;
}

.selectedItem {
  background-color: #5a2811;
  color: #d96a1c;
}

.cartContainer {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-right: 6px;
}

.badge {
  position: absolute;

  top: -6px;
  right: -8px;

  width: 14px;
  height: 14px;

  border-radius: 50%;

  background-color: #b34f24;
  color: white;

  font-size: 9px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}
