.card {
  border: 2px solid #efdcc8;
  border-radius: 18px;
  overflow: hidden;    
  background: #faf5ed;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 18px;
  margin: 0;
  font-weight: 700;
}
.mesa{
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.productsList{
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 1rem;
}

.success {
  background: #eef8ef;
  color: #1f8b41;
}

.warning {
  background: #f7eccf;
  color: #d48806;
}

.danger {
  background: #ffe6e4;
  color: #cf1322;
}

.timer {
  display: flex;
  align-items: center;
  gap: 6px;
}

.body {
  padding: 18px;
}

.body p {
  margin-bottom: 8px;
  font-weight: 700;
}

.body ul {
  list-style: none;
  padding-left: 18px;
  margin-bottom: 18px;
}

.body li {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #cf6215;
  font-size: 0.9rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

.readyButton {
  width: calc(100% - 32px);
  margin: 0 16px 16px;

  border: none;
  border-radius: 14px;

  padding: 14px;

  background: #bf4b21;
  color: white;

  font-weight: 700;
}

/******************************MODAL DE NUM MESA****************************************/
.modalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.45);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    width: 420px;
    max-width: 90%;
    background: #fffaf3;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 0 12px 30px rgba(0,0,0,.2);
}

.modalTitle {
    font-size: 24px;
    font-weight: 700;
    color: #3c2212;
}

.modalText {
    margin: 15px 0;
    color: #6d4b32;
}

.modalInput {
    width: 100%;
    padding: 12px 15px;
    border-radius: 12px;
    border: 1px solid #d8c8b5;
    outline: none;
    margin-bottom: 20px;
    font-size: 16px;
}

.modalButtons {
    display: flex;
    gap: 15px;
}

.buttonContainer {
  margin-top: 30px;

  display: flex;
  justify-content: center;
  gap: 12px;
}

.confirmButton {
  flex: 1;
  max-width: 260px;

  height: 56px;

  border: none;
  border-radius: 20px;

  background: #63855a;
  color: white;

  font-size: 1.2rem;
  font-weight: 700;
}
.confirmButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.cancelButton {
  flex: 1;
  max-width: 260px;

  height: 56px;

  border-radius: 20px;

  background: transparent;
  border: 1px solid #d8cec1;

  color: #8a5a35;

  font-size: 1.2rem;
  font-weight: 500;
}

.confirmButton:hover,
.cancelButton:hover {
  opacity: 0.9;
}
