.container {
    background-color: #F5EDE0;
}

.subtitle {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    color: #7A5C3E ;
}

.title{
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 2rem;
    color: #2C1A0E ;
}

.banner {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 24px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.747) 0%,
    rgba(0, 0, 0, 0.455) 35%,
    rgba(0, 0, 0, 0.362) 75%
  );
}

.content {
  position: absolute;

  left: 32px;
  bottom: 40%;

  color: white;
  z-index: 2;
}

.subtitleBanner {
  display: block;

  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 8px;

  opacity: 0.9;

  font-family: "Nunito Sans", sans-serif;
}

.titleBanner {
  margin: 0;

  font-size: 2rem;
  font-weight: 700;

  font-family: "Playfair Display", serif;
}

@media (max-width: 768px) {
  .banner {
    height: 180px;
  }

  .content {
    left: 20px;
    bottom: 20px;
  }

  .titleBanner {
    font-size: 1.7rem;
  }

  .subtitleBanner {
    font-size: 0.85rem;
  }
}